name: research_package
description: A Flutter framework for obtaining informed consent, showing surveys and collecting results.
version: 0.5.4
author: CACHET Team <cph.cachet@gmail.com>
homepage: https://github.com/cph-cachet/research.package

environment:
  sdk: ">=2.6.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  carp_core: ^0.21.0      # the core CARP domain model

  collection: ^1.15.0
  signature: ^2.0.0 
  rxdart: ^0.25.0
  json_annotation: ^3.1.0
  flutter_localizations:
    sdk: flutter

# Overriding carp libraries to use the local copy
# Remove this before release of package
#dependency_overrides:
#  carp_core:
#    path: ../carp/carp.sensing-flutter/carp_core/

dev_dependencies:
#  flutter_test:
#    sdk: flutter
  build_runner: ^1.10.0
  json_serializable: ^3.5.0
  test: 

flutter:
  assets:
    - assets/icons/
    - assets/lang/

