name: research_package
description: A Flutter framework for obtaining informed consent, showing surveys and collecting results.
version: 0.8.0
homepage: https://github.com/cph-cachet/research.package

environment:
  sdk: ">=2.14.0 <3.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter

  carp_core: ^0.33.0 # the core CARP domain model

  signature: ^5.0.0
  rxdart: ^0.27.1
  json_annotation: ^4.4.0
  simple_html_css: ^3.0.1
  audiofileplayer: ^2.1.0

dev_dependencies:
  # flutter_test:
  #   sdk: flutter
  build_runner: ^2.1.5
  json_serializable: ^6.1.5
  test: ^1.20.2

flutter:
  assets:
    - assets/icons/analysis.png
    - assets/icons/archive.png
    - assets/icons/checkmark.png
    - assets/icons/deadline.png
    - assets/icons/document.png
    - assets/icons/handshake.png
    - assets/icons/health.png
    - assets/icons/id.png
    - assets/icons/location.png
    - assets/icons/management.png
    - assets/icons/networking.png
    - assets/icons/settings.png
    - assets/icons/target.png
    - assets/icons/task.png
    - assets/lang/
    - assets/audio/RPTimerStepSound.mp3
